@model CCSB_Bentelo.Models.AppointmentModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="loginPage">
        <div class="loginContainer">
            <div class="loginLogo">
               
            </div>
            <div>
                <h4>AppointmentModel</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TijdStip)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TijdStip)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Action)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Action)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ApplicationUser)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ApplicationUser.Id)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.AppointmentId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</body>
</html>
