@model IEnumerable<CCSB_Bentelo.Models.AppointmentModel>


<!DOCTYPE html>
<div class="loginPage">
    <div class="loginContainer">
        <div class="loginLogo">
           
        </div>
    </div>
 </div>
    <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Index</title>
        </head>
        <body>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TijdStip)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Action)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplicationUser)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TijdStip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
                </tbody>
            </table>
           
        </body>
    </html>
